.wl-launcher {
    
}

.wl-launcher-action {

    /* sizing: extrinsic/intrinsic */

    /* content */
    background-color: yellow;
    /* overflow */
    overflow: visible;
    
    /* margin */
    margin: 0.5em 0 0.5em 0.5em;

    /* border */
    // border-style: solid;

    /* padding */
    padding: 1em;
}
